main{
    .hero{
        max-width: 1400px;
        height: 388px;
        background-image: url(/images/Banner.png);
    }
    .title1{
        color:#212121;
        font-family: 'Inter';
        font-size: 26px;
        font-weight: 600;
        line-height: 150%;
        margin-top: 56px;
        margin-bottom: 40px;
    }
}